.text-ticket {
    color: yellowgreen !important;
}

body{
    position: relative;

}
/* .scroll-area{    
    position: relative;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow: auto;
} */
#header img{
    width: 100px;
}
nav{
    background: linear-gradient(120deg, rgb(206, 220, 236), #090120);
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(60%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
    align-items: center;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}
#carousel .overlay h1{
    font-size: 60px;
}
#carousel .overlay a{
    color: white;
}

footer {
    background: linear-gradient(120deg, rgb(206, 220, 236), #090120);
    padding-bottom: 4px;
    padding-top: 50px;
}

footer .footer-navigation, h2,h3,a{
    color: black;
}

footer .footer-contacts{
    color: white;
}
#mailFooter{
    color: white;
}

footer .fa-envelope {
    color: white;
}

footer .footer-about{
    color: white;
}
.footer-navigation h3 span {
    color: #0a1e42;
  }

.social{
    /* border: 1px solid red; */
    margin-right: 20px;  
  }  
  .social-link{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;   
  }
  .social-link.twiter{
    background-image: url(../image/twiter.png);    
  }
  .social-link.instagram{
    background-image: url(../image/instagram.png);
  }
  .social-link.linkedin{
    background-image: url(../image/linkedin.png);
  }
  .social-link.github{
    background-image: url(../image/github.png);
  }